/* 웹 폰트 선언*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


/*디자인 시작시 기본선언.*/
/* 패딩,마진0, 요소크기에 패딩,보더값 포함.(박스사이징)*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    min-width: 510px;
    font-family: 'Noto Sans KR', sans-serif;
    /*웹폰트*/

}

img {
    max-width: 100%;
    /*사이즈가 변해도 넓이 유지*/
    height: auto;
}
ul, ol, dl, li {
    list-style: none;
}

.btn {
    border-radius: 0px;
}
input,
textarea,
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none
}

/*====상품상세====*/
.detail-info {
    min-height: 345px;
}
.detail-info > .title {
    font-size: 24px;
}
.detail-info > .price {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    padding: 10px 0;
}
.detail-info > .delivery {
    color: #888;
}

.detail-control > .price,
.detail-control > .order {
    overflow: hidden;
}
.detail-control .left{
    float: left;
}
.detail-control .right{
    float: right;
}
.detail-control .price .left{
    font-size: 18px;
    line-height: 45px;
}
.detail-control .price .right{
    font-size: 30px;
}

.detail-control .order .left,
.detail-control .order .right {
    width: 50%;
    height: 60px;
    font-size: 18px;
}

/*=========탭디자인========*/
.mytab > li {
    width: 25%;
}
.mytab > li > a {
    color: #000;
    text-align: center;
    border-color: 1px solid #e3e3e3;
    margin: 0;
    border-radius: 0;
}

.nav-tabs > li.active>a,
.nav-tabs > li.active>a:focus,
.nav-tabs > li.active>a:hover{
    color: red;
}